.navbar-principal
{
    background: rgb(1, 1, 1);
    position: sticky;
    top: 0;
}
.navbar-principal ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-principal ul li
 {
    display: inline;
   
    text-decoration: none;
  }

  .navbar-principal ul li a
  {
    text-decoration: none;
    color: #fff;
    padding: 20px;
  }

 .navbar-principal ul li i
  {
    padding: 20px;
  }

.navbar-principal ul li a:hover
  {
    background: rgb(83, 66, 66);
  }